@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--brand-primary: #fb8500;      /* Main branding color (buttons, highlights) */
--brand-accent: #ffb703;       /* Accent or secondary brand color */
--bg-main: #023047;            /* Main background (hero sections, navbar) */
--bg-secondary: #219ebc;       /* Secondary background (cards, sections) */
--text-highlight: #8ecae6;   /* Headings, highlights, or links */
--text-base:#ffffff ;
}
















  


